body{
   background-image:url('../src/images/rainy.jpg');
  background-position:fixed;
  background-size:cover;
}
.class3::placeholder{
  color:white;
  opacity:0.6;
}
.class1{
  background-color:black;
  opacity:0.78;
  height:80vh;
  width:800px;
  position:relative;
  top:100px;
}
.class2{
  left:0px;
  text-decoration-line: underline;
  font-size: 400%;
}
.class3{
  position:relative;
  top:100px;
  width:300px;
  height:50px;
  border-radius:40px;
  left:100px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:200%;
  background-color:#656E77;
  color:white;
}
.class4{
  position:relative;
  top: 100px;
  height:60px;
  width:100px;
  border-radius:30px;
  background-color:#656E77;
  color:white;
}
.class5{
  position:relative;
  top:400px;
}
.class6{
  color:white;
  position:relative;
  top:200px;
  left:250px;
}
@media screen and (min-width:1800px){
  .class1{
    left:350px;
  }
  .class5{
    top:550px;
  }
  
}
@media screen and (max-width:1700px){
  .class1{
    left:250px;
  }
  .class2{
    left:650px;
  }
  .class6{
    left:200px;
  }
  
}
@media screen and (max-width:1000px){
  .class1{
    left:50px;
  }
  .class4{
    width:100px;
    height:60px;
  }
  .class6{
    left:170px;
  }
  
}
@media screen and (max-width:600px){
  .class1{
     left:20px;
  }
  .class2{
    font-size:300%;
  }
  .class3{
    left:20px;
  }
  .class4{
    left:120px;
    top:120px;
  }
  
}

@media screen and (max-width:400px){
  .class1{
    width:350px;
    left:70px;
  }
  .class2{
     left:500px;
     font-size:200%;
  }
  .class3{
    left:10px;
  }
  .class4{
    left:100px;
    top:120px;
  }
  .class6{
    left:120px;
  }
  
}

